// Estilos para el menú
.app-menu {
  background-color: #f0f0f0;
  width: 200px;
  padding: 20px;

  .menu-titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: #333;
        display: block;
        padding: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
}
