<div class="container">

    <mat-form-field class="example-full-width">
        <mat-label>Cédula:</mat-label>
        <input matInput placeholder="" id="txtCedula" [(ngModel)]="contacto.cedula">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <mat-label>Nombre:</mat-label>
        <input matInput placeholder="" id="txtCedula" [(ngModel)]="contacto.nombre">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <mat-label>Dirección:</mat-label>
        <input matInput placeholder="" id="txtDireccion" [(ngModel)]="contacto.direccion">
    </mat-form-field>
    
    <br/>
    <br/>
    
    <button (click)="guardar()">Guardar</button>
</div>